a
    color: inherit
    &:hover
        text-decoration: none
        color: inherit

body
    background: url('../images/sayagata-400px.png')
    font-family: 'sarabun','sans-serif'
    position: relative
    height: 100%
    padding-top: 5rem

ul
    list-style: none
    padding: 0
li
    @extend ul
    
.w
    &-80
        width: 80%

.fas.no
    color: #afafaf
    &:after 
        position: absolute
        content: "/"
        color: #afafaf
        font-weight: 700
        font-size: 2rem
        left: 7px
        top: -10px

.fa
    position: relative
.fas
    @extend .fa

.rotate
    transition: all 0.5s linear
    &.down
        -moz-transform: rotate(180deg)
        -webkit-transform: rotate(180deg)
        transform: rotate(180deg)
.blocker
    position: absolute
    width: 100%
    height: 100%
    top: 0
    bottom: 0
    left: 0
    right: 0
    z-index: 99
    background: rgba(0,0,0,0.3)


    
.btn
    border: 2px solid
    padding: 0.175rem 0.875rem
    min-width: 6rem
    &__ddown
        min-width: 1rem
        padding: 0.175rem 0.875rem
        background: #fff
        border: 1px solid #7b7b7b
        cursor: pointer
        &:hover
            background: #ececec
    &--main
        background: #41cfd3
        color: #fff
        border-color: #41cfd3
    &--dropdown
        background: #fff
        color: #000
        border-color: #ececec
    &--primary
        background: #fca000
        color: #fff
        border-color: #fca000
    &__outline
        &--danger
            background: #fff
            border-color: red
            color: red

.container__image 
    display: block
    width: 100%
    position: relative
    height: 0
    padding: 56.25% 0 0 0
    overflow: hidden
    img 
        position: absolute
        display: block
        width: 100%
        max-height: 100%
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
    &--1x1
        @extend .container__image
        padding: 100% 0 0 0


.header
    &__bg
        background: url('../images/hotel-bg.jpg') center center/cover no-repeat
        position: relative
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            width: 100%
            height: 100%
            background: rgba(0,0,0,0.3)
            z-index: 0
    &__wrapper
        min-height: 300px
        padding: 3rem 0 4rem
    &__title
        color: #fff
    &__stars
        color: #f9ca24
        z-index: 2
    &__cta
        z-index: 2
        position: absolute
        right: 1%
        bottom: 7%
    &__hotelinfo
        min-height: 100px
        padding: 1rem 0 2rem
        .header__title
            color: #000
    &__booking
        .header__title
            color: #000

.carousel
    background: #ececec
    &__each
        img
            margin: 0 auto

.filter
    &__wrapper
        padding: 1rem
        background: #fff
    &__each
        cursor: pointer
        padding: 0 1rem
        border-right: 1px solid #c3c3c3
        &:last-child
            border-right: 0px
        &:hover
            background: #f9f9f9
    &__title
        font-size: 0.675rem
        color: #c3c3c3
    &__val
        font-size: 1rem

.sorter
    &__dropdown
        margin-right: 2rem

.roomlist
    &__each
        background: #fff
        max-width: 90%
        margin: 1rem auto 0
        padding: 0
        border-radius: 3px
        box-shadow: 0 3px 6px 0 rgba(0,0,0,.07)
        &:first-child
            margin-top: 1rem
    &__toggle
        cursor: pointer
        color: blue
        .fas
            vertical-align: middle
    &__image
        padding: 0 1rem 1rem
    &__text
        width: 100%
        padding: 1rem
    &__facilities
        width: 40%
    &__roomtype
        font-size: 0.775rem
    &__rate
        h4
            margin-bottom: 0.1rem
    &__detail
        // display: none
        border-top: 2px solid #ececec
        height: 0%
        overflow: hidden
        padding-top: 2rem
        margin-top: 2rem
        &.active
            height: 100%
    &__imgslider
        width: 40%
    &__detailtxt
        width: 60%
    &__detaillist
        width: 100%
        ul
            list-style-type: disc
            margin-left: 15px
    &__detailchoice
        a
            &:hover
                color: #FF8000
    &__overview
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%)
        .roomlist__image
            width: 30%
            padding: 0 1rem 0 0
            img
                width: 100%

.gallery
    &__wrapper
        width: 60%
        margin: 0 auto
    &__thumbs
        margin-top: 1rem
        width: 100%
        .gallery__wrapper
            width: 55%
    &__show
        width: 100%

.slick-prev:before 
    content: "\f104"
    font-family: "Font Awesome 5 Free"
    font-weight: 700
    font-size: 30px
    color: #FF8000


.slick-next:before 
    content: "\f105"
    font-family: "Font Awesome 5 Free"
    font-weight: 700
    font-size: 30px
    color: #FF8000

.section
    &__wrapper
        height: 100%
        padding: 2rem
        background: #fff
        border-radius: 3px
        margin: 0 auto    
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15)  

.info
    &__wrapper
        padding: 2rem
        background: #fff
        border-radius: 3px
        width: 80%
        margin: 0 auto
    &__title
        margin-bottom: 1rem
        width: 100%
    &__locationwrapper
        margin-bottom: 2rem
        width: 100%
    &__content
        width: 60%
        text-align: left
    &__subtitle
        margin-bottom: 1rem
.facilities
    &__wrapper
        width: 100%
    &__icon
        img
            width: 50px

.inquiry
    &__form
        width: 100%
        height: 100%
        margin: 30px auto 0
    label 
        position: relative
        display: inline-block
        color: #004D40
        top: 100px
        font-size: 1rem
        transition: all .2s ease
        z-index: 10
        position: relative
        top: -30px
    .input__container 
        width: 50%
        position: relative
        margin: 45px auto 0
        &:last-child
            margin-bottom: 45px
    input[type="text"] 
        width: 100%
        position: relative
        display: inline-block
        font-size: 1rem
        padding: 0 0 5px 0
        color: #004D40
        background-color: transparent
        border: none
        border-bottom: solid 2px #cecece
        outline: none
        z-index: 20
        &:focus ~ label
            top: -60px
            color: #cecece
            font-size: 1rem
        &:valid ~ label
            top: -60px
            color: #cecece
            font-size: 1rem
    input[type="submit"] 
        cursor: pointer
        margin: auto
        width: 100%
        background-color: #4DB6AC
        color: #E0F2F1
        font-family: 'Noto Sans', sans-serif
        font-size: 1.25em
        padding: 10px 0
        border: solid #009688
        border-width: 0 0 4px 0
        border-radius: 3px
        outline: none
        &:hover
            background: #26A69A
            border: solid #00897B
            border-width: 0 0 4px 0
        &:active
            background: #009688
            border: solid transparent
            border-width: 0 0 0px 0

.price
    &__table
        p
            margin-bottom: 0.1rem
    &__table2
        background: #ececec
    &__added
        background: #fbfbfb
    &__subtotal
        font-size: 1.275rem
        font-weight: 700
    &__table
        border-bottom: 1px solid #000
        padding-bottom: 3rem
    &__table2
        padding: 1rem 0 1rem 1rem
    &__added
        width: 80%
        margin-left: auto
        .price__row
            border-top: 1px solid #ececec
            padding-top: 0.875rem
            padding-bottom: 0.875rem
            h5
                color: #9e9e9e

.guest
    &__form
        input
            padding: 8px 16px
            background: #fff
            border: 2px solid #ececec
        .btn--dropdown
            padding: 8px 16px
            background: #fff
    &__title
        width: 50%
    .section__wrapper
        border-top: 2px solid red

.partner
    background: #fff

.latestpromo
    background: #fff
    &__card
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1)
        transition: all 0.5s linear
        &:hover
            box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.6)
            transform: scale(1.01)
.whyus
    background: #fff
.searchbox
    position: relative
    z-index: 100
    &__title
        padding: 1rem 2rem
        background: #f6f9ff
    &__body
        padding: 1rem 2rem
        background: #fff
    &__form
        .d-flex
            position: relative
        label
            width: 3rem
            vertical-align: middle
            text-align: center
        .fas, .far
            font-size: 1.5rem
            color: #b7b7b7
        .form-group
            input
                border: 0
                border-bottom: 1px solid #b7b7b7
                width: 100%
        .form-button
            display: block
            margin-left: auto
            
.whyus
    &__image
        img
            width: 50%
            margin: 1rem 0

.hotelfilter
    &__wrapper
        background: #fff
    &__options
        background: #fff
    &__label
        cursor: pointer
    &__reset
        color: blue
    &__optionseach
        margin: 0.5rem 0
        .fa-star
            color: gold

.hotel
    &__each
        background: #fff
        box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.05)
        transition: all 0.5s linear
        cursor: pointer
        border: 1px solid transparent
        margin-top: 1rem
        &:first-child
            margin-top: 0
        &:hover
            border: 1px solid #FF8000
            box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.3)
    &__image
        padding: 1rem
    &__text
        padding: 1rem
    &__stars
        color: gold
        .fas
            margin: 0 0.2rem
    &__rating
        margin-top: 0.5rem
        font-style: italic
        img
            width: 20px
            margin-right: 0.5rem
    &__place
        color: #b7b7b7
        margin-top: 0.5rem
        .fas
            width: 20px
            margin-right: 0.5rem
            text-align: center
    &__price
        padding: 1rem
        color: #FF8000
        border-left: 1px solid #b7b7b7
    &__oldprice
        font-size: 0.7rem
        color: #b7b7b7
        text-decoration: line-through
    &__list
        li
            margin-top: 1rem
            &:first-child
                margin-top: 0

.slider.slider-horizontal
    display: block
    width: 90%
    margin: 0 auto

.ddown
    position: absolute
    top: 100%
    z-index: 1
    width: 100%
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25)
    &__toggle
        cursor: pointer
    &__radio
        width: 2rem
        height: 1rem
    &__group
        margin: 1rem 0
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0
    &__wrapper
        background: #fff
        padding: 1rem
    &__val
        margin: 0 1rem

.navbar-light .navbar-nav
    .menuTittle
        color: #1a1c27
        text-transform: uppercase
        font-size: 14px
        font-weight: 600
        &:hover, &:focus
        color: #1abc9c
    .active > .menuTittle
        color: #1abc9c

.login-button
    .dropdown-toggle::after
        display: none
    .dropdown-menu
        width: 350px
    .form-group
        margin-bottom: 8px
        label
        font-weight: 400
        font-size: 14px
        letter-spacing: -0.3px
    .custom-control-label
        font-weight: 400
        font-size: 14px
        letter-spacing: -0.3px
    .form-group input, .btn
        border-radius: 3px
        font-size: 14px

.footer
    background-color: #222533
    color: #ccc
    font-size: 15px
    font-weight: 300
    h5
        color: #fff
        letter-spacing: 5px
    hr
        border-bottom: 3px solid #1abc9c
        width: 100px
        display: -webkit-inline-box
    p
        line-height: 26px
    ul
        list-style: none
        li
        i
            color: #fff
        a
            text-decoration: none
            color: #ccc
        .dates
            font-size: 15px
            opacity: 0.5

.bottom
    border-top: 1px solid #39444e
    background-color: #1a1c27
    color: #ccc
    font-size: 15px
    font-weight: 300
    ul
        list-style: none
        li
        display: inline
    span
        color: #fff

@media (max-width: 991.98px)
    .bottom ul
        margin-top: 15px !important