@charset "UTF-8";
a {
  color: inherit; }
  a:hover {
    text-decoration: none;
    color: inherit; }

body {
  background: url("../images/sayagata-400px.png");
  font-family: "sarabun", "sans-serif";
  position: relative;
  height: 100%;
  padding-top: 5rem; }

ul, li {
  list-style: none;
  padding: 0; }

.w-80 {
  width: 80%; }

.fas.no {
  color: #afafaf; }
  .fas.no:after {
    position: absolute;
    content: "/";
    color: #afafaf;
    font-weight: 700;
    font-size: 2rem;
    left: 7px;
    top: -10px; }

.fa, .fas {
  position: relative; }

.rotate {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear; }
  .rotate.down {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

.blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.3); }

.btn {
  border: 2px solid;
  padding: 0.175rem 0.875rem;
  min-width: 6rem; }
  .btn__ddown {
    min-width: 1rem;
    padding: 0.175rem 0.875rem;
    background: #fff;
    border: 1px solid #7b7b7b;
    cursor: pointer; }
    .btn__ddown:hover {
      background: #ececec; }
  .btn--main {
    background: #41cfd3;
    color: #fff;
    border-color: #41cfd3; }
  .btn--dropdown {
    background: #fff;
    color: #000;
    border-color: #ececec; }
  .btn--primary {
    background: #fca000;
    color: #fff;
    border-color: #fca000; }
  .btn__outline--danger {
    background: #fff;
    border-color: red;
    color: red; }

.container__image, .container__image--1x1 {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 56.25% 0 0 0;
  overflow: hidden; }
  .container__image img, .container__image--1x1 img {
    position: absolute;
    display: block;
    width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto; }
  .container__image--1x1 {
    padding: 100% 0 0 0; }

.header__bg {
  background: url("../images/hotel-bg.jpg") center center/cover no-repeat;
  position: relative; }
  .header__bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0; }
.header__wrapper {
  min-height: 300px;
  padding: 3rem 0 4rem; }
.header__title {
  color: #fff; }
.header__stars {
  color: #f9ca24;
  z-index: 2; }
.header__cta {
  z-index: 2;
  position: absolute;
  right: 1%;
  bottom: 7%; }
.header__hotelinfo {
  min-height: 100px;
  padding: 1rem 0 2rem; }
  .header__hotelinfo .header__title {
    color: #000; }
.header__booking .header__title {
  color: #000; }

.carousel {
  background: #ececec; }
  .carousel__each img {
    margin: 0 auto; }

.filter__wrapper {
  padding: 1rem;
  background: #fff; }
.filter__each {
  cursor: pointer;
  padding: 0 1rem;
  border-right: 1px solid #c3c3c3; }
  .filter__each:last-child {
    border-right: 0px; }
  .filter__each:hover {
    background: #f9f9f9; }
.filter__title {
  font-size: 0.675rem;
  color: #c3c3c3; }
.filter__val {
  font-size: 1rem; }

.sorter__dropdown {
  margin-right: 2rem; }

.roomlist__each {
  background: #fff;
  max-width: 90%;
  margin: 1rem auto 0;
  padding: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07); }
  .roomlist__each:first-child {
    margin-top: 1rem; }
.roomlist__toggle {
  cursor: pointer;
  color: blue; }
  .roomlist__toggle .fas {
    vertical-align: middle; }
.roomlist__image {
  padding: 0 1rem 1rem; }
.roomlist__text {
  width: 100%;
  padding: 1rem; }
.roomlist__facilities {
  width: 40%; }
.roomlist__roomtype {
  font-size: 0.775rem; }
.roomlist__rate h4 {
  margin-bottom: 0.1rem; }
.roomlist__detail {
  border-top: 2px solid #ececec;
  height: 0%;
  overflow: hidden;
  padding-top: 2rem;
  margin-top: 2rem; }
  .roomlist__detail.active {
    height: 100%; }
.roomlist__imgslider {
  width: 40%; }
.roomlist__detailtxt {
  width: 60%; }
.roomlist__detaillist {
  width: 100%; }
  .roomlist__detaillist ul, .roomlist__detaillist li {
    list-style-type: disc;
    margin-left: 15px; }
.roomlist__detailchoice a:hover {
  color: #FF8000; }
.roomlist__overview {
  background: -webkit-gradient(linear, left top, right top, from(white), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, white 0%, rgba(0, 0, 0, 0) 100%); }
  .roomlist__overview .roomlist__image {
    width: 30%;
    padding: 0 1rem 0 0; }
    .roomlist__overview .roomlist__image img {
      width: 100%; }

.gallery__wrapper {
  width: 60%;
  margin: 0 auto; }
.gallery__thumbs {
  margin-top: 1rem;
  width: 100%; }
  .gallery__thumbs .gallery__wrapper {
    width: 55%; }
.gallery__show {
  width: 100%; }

.slick-prev:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 30px;
  color: #FF8000; }

.slick-next:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 30px;
  color: #FF8000; }

.section__wrapper {
  height: 100%;
  padding: 2rem;
  background: #fff;
  border-radius: 3px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.15); }

.info__wrapper {
  padding: 2rem;
  background: #fff;
  border-radius: 3px;
  width: 80%;
  margin: 0 auto; }
.info__title {
  margin-bottom: 1rem;
  width: 100%; }
.info__locationwrapper {
  margin-bottom: 2rem;
  width: 100%; }
.info__content {
  width: 60%;
  text-align: left; }
.info__subtitle {
  margin-bottom: 1rem; }

.facilities__wrapper {
  width: 100%; }
.facilities__icon img {
  width: 50px; }

.inquiry__form {
  width: 100%;
  height: 100%;
  margin: 30px auto 0; }
.inquiry label {
  position: relative;
  display: inline-block;
  color: #004D40;
  top: 100px;
  font-size: 1rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 10;
  position: relative;
  top: -30px; }
.inquiry .input__container {
  width: 50%;
  position: relative;
  margin: 45px auto 0; }
  .inquiry .input__container:last-child {
    margin-bottom: 45px; }
.inquiry input[type="text"] {
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  padding: 0 0 5px 0;
  color: #004D40;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #cecece;
  outline: none;
  z-index: 20; }
  .inquiry input[type="text"]:focus ~ label {
    top: -60px;
    color: #cecece;
    font-size: 1rem; }
  .inquiry input[type="text"]:valid ~ label {
    top: -60px;
    color: #cecece;
    font-size: 1rem; }
.inquiry input[type="submit"] {
  cursor: pointer;
  margin: auto;
  width: 100%;
  background-color: #4DB6AC;
  color: #E0F2F1;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25em;
  padding: 10px 0;
  border: solid #009688;
  border-width: 0 0 4px 0;
  border-radius: 3px;
  outline: none; }
  .inquiry input[type="submit"]:hover {
    background: #26A69A;
    border: solid #00897B;
    border-width: 0 0 4px 0; }
  .inquiry input[type="submit"]:active {
    background: #009688;
    border: solid transparent;
    border-width: 0 0 0px 0; }

.price__table p {
  margin-bottom: 0.1rem; }
.price__table2 {
  background: #ececec; }
.price__added {
  background: #fbfbfb; }
.price__subtotal {
  font-size: 1.275rem;
  font-weight: 700; }
.price__table {
  border-bottom: 1px solid #000;
  padding-bottom: 3rem; }
.price__table2 {
  padding: 1rem 0 1rem 1rem; }
.price__added {
  width: 80%;
  margin-left: auto; }
  .price__added .price__row {
    border-top: 1px solid #ececec;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem; }
    .price__added .price__row h5 {
      color: #9e9e9e; }

.guest__form input {
  padding: 8px 16px;
  background: #fff;
  border: 2px solid #ececec; }
.guest__form .btn--dropdown {
  padding: 8px 16px;
  background: #fff; }
.guest__title {
  width: 50%; }
.guest .section__wrapper {
  border-top: 2px solid red; }

.partner {
  background: #fff; }

.latestpromo {
  background: #fff; }
  .latestpromo__card {
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear; }
    .latestpromo__card:hover {
      -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
              box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.6);
      -webkit-transform: scale(1.01);
              transform: scale(1.01); }

.whyus {
  background: #fff; }

.searchbox {
  position: relative;
  z-index: 100; }
  .searchbox__title {
    padding: 1rem 2rem;
    background: #f6f9ff; }
  .searchbox__body {
    padding: 1rem 2rem;
    background: #fff; }
  .searchbox__form .d-flex {
    position: relative; }
  .searchbox__form label {
    width: 3rem;
    vertical-align: middle;
    text-align: center; }
  .searchbox__form .fas, .searchbox__form .far {
    font-size: 1.5rem;
    color: #b7b7b7; }
  .searchbox__form .form-group input {
    border: 0;
    border-bottom: 1px solid #b7b7b7;
    width: 100%; }
  .searchbox__form .form-button {
    display: block;
    margin-left: auto; }

.whyus__image img {
  width: 50%;
  margin: 1rem 0; }

.hotelfilter__wrapper {
  background: #fff; }
.hotelfilter__options {
  background: #fff; }
.hotelfilter__label {
  cursor: pointer; }
.hotelfilter__reset {
  color: blue; }
.hotelfilter__optionseach {
  margin: 0.5rem 0; }
  .hotelfilter__optionseach .fa-star {
    color: gold; }

.hotel__each {
  background: #fff;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  cursor: pointer;
  border: 1px solid transparent;
  margin-top: 1rem; }
  .hotel__each:first-child {
    margin-top: 0; }
  .hotel__each:hover {
    border: 1px solid #FF8000;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.3); }
.hotel__image {
  padding: 1rem; }
.hotel__text {
  padding: 1rem; }
.hotel__stars {
  color: gold; }
  .hotel__stars .fas {
    margin: 0 0.2rem; }
.hotel__rating {
  margin-top: 0.5rem;
  font-style: italic; }
  .hotel__rating img {
    width: 20px;
    margin-right: 0.5rem; }
.hotel__place {
  color: #b7b7b7;
  margin-top: 0.5rem; }
  .hotel__place .fas {
    width: 20px;
    margin-right: 0.5rem;
    text-align: center; }
.hotel__price {
  padding: 1rem;
  color: #FF8000;
  border-left: 1px solid #b7b7b7; }
.hotel__oldprice {
  font-size: 0.7rem;
  color: #b7b7b7;
  text-decoration: line-through; }
.hotel__list li {
  margin-top: 1rem; }
  .hotel__list li:first-child {
    margin-top: 0; }

.slider.slider-horizontal {
  display: block;
  width: 90%;
  margin: 0 auto; }

.ddown {
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.25); }
  .ddown__toggle {
    cursor: pointer; }
  .ddown__radio {
    width: 2rem;
    height: 1rem; }
  .ddown__group {
    margin: 1rem 0; }
    .ddown__group:first-child {
      margin-top: 0; }
    .ddown__group:last-child {
      margin-bottom: 0; }
  .ddown__wrapper {
    background: #fff;
    padding: 1rem; }
  .ddown__val {
    margin: 0 1rem; }

.navbar-light .navbar-nav .menuTittle {
  color: #1a1c27;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #1abc9c; }
.navbar-light .navbar-nav .active > .menuTittle {
  color: #1abc9c; }

.login-button .dropdown-toggle::after {
  display: none; }
.login-button .dropdown-menu {
  width: 350px; }
.login-button .form-group {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.3px; }
.login-button .custom-control-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.3px; }
.login-button .form-group input, .login-button .btn {
  border-radius: 3px;
  font-size: 14px; }

.footer {
  background-color: #222533;
  color: #ccc;
  font-size: 15px;
  font-weight: 300; }
  .footer h5 {
    color: #fff;
    letter-spacing: 5px; }
  .footer hr {
    border-bottom: 3px solid #1abc9c;
    width: 100px;
    display: -webkit-inline-box; }
  .footer p {
    line-height: 26px; }
  .footer ul, .footer li {
    list-style: none; }
    .footer ul i, .footer li i {
      color: #fff; }
    .footer ul a, .footer li a {
      text-decoration: none;
      color: #ccc; }
    .footer ul .dates, .footer li .dates {
      font-size: 15px;
      opacity: 0.5; }

.bottom {
  border-top: 1px solid #39444e;
  background-color: #1a1c27;
  color: #ccc;
  font-size: 15px;
  font-weight: 300; }
  .bottom ul, .bottom li {
    list-style: none;
    display: inline; }
  .bottom span {
    color: #fff; }

@media (max-width: 991.98px) {
  .bottom ul, .bottom li {
    margin-top: 15px !important; } }

/*# sourceMappingURL=style.css.map */